SWIFT_VERSION = 6.0
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
GENERATE_INFOPLIST_FILE = YES
CURRENT_PROJECT_VERSION = 4
MARKETING_VERSION = 0.1.0
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY[sdk=macosx*] = -
SWIFT_STRICT_CONCURRENCY = complete
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
INFOPLIST_KEY_CFBundleDisplayName = WeftMate
#include? "Local.xcconfig"
